*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.menu
{
    width: 100%;
    background: #183544;
    position: fixed;
    top: 0px;
    z-index: 100;
    overflow: hidden;
}
.menu .menutop
{
    height: 50px;
    background: #dde32f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .menumid
{
    background: #e8eff3;    
    height: 175px;
}
.menumid
{
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo
{
       height: 100px;
       width: 200px;
}
.menumid li a
{
    color: #151817;
    text-decoration: none;
    margin: 0px 25px;
}
.content
{
    width: 100%;
    height: 100px;
    margin-right: 10px;
    margin-top: 20px;
   
}
.content img
{
    width: 300px;
    height: 300px;
    margin-top: 170px;
    
}
.giuong{
    display: inline-block;
    margin: 50px;
    padding: 30px;
}
.ghe
{
    display: inline-block;
    margin: 50px;
    padding: 30px;
}
.ban
{
    display: inline-block;
    margin: 50px;
    padding: 30px;
}
a
{
    text-align: center;
    justify-content: center;
}
#footer {
    position: relative;
    width: 100%;
    background:whitesmoke;
    float: left;  
    margin-top: 150%;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color: black;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:gray;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:black;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}

#footer .box p{
    font-size: 12px;
    padding-top: 15px;
}

#footer .follow a{
    padding-left: 10px;
}